* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  text-align: center;
}

nav {
  background-color: rgb(197, 196, 196);
  padding: 0.6rem;
}

li {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

nav ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: rgb(32, 32, 32);
  position: absolute;
  left: 0;
  bottom: 1.5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav ul li:hover::before {
  width: 100%;
}

.link-separado {
  display: inline-block;
  background-color: blueviolet;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  top: 0.7rem;
  left: 0.5rem;
}

.Banner {
  background: url(../Img/Camilla\ dentista.jpeg) fixed center/cover;
  height: 50rem;
  width: 40;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  opacity: 0.8;
}

.banner-info {
  padding: 0.3rem;
  position: absolute;
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin: auto;
}

.titulo-banner {
  line-height: 1.5;
  font-size: 3rem;
  font-family: sans-serif;
}

.banner-p {
  line-height: 2rem;
  font-size: 1rem;
  font-family: sans-serif;
}

.pie-pagina {
  width: 100%;
  background: color black;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 15rem;
}

.pie-pagina .grupo-1 .box .botondecontacto {
  color: black;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.pie-pagina .grupo-1 .box p {
  margin-bottom: 3rem;
}

.Contactenos__banner {
  background: url(../Img/Sala-espera.jpg) fixed center/cover;
  height: 50rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Contactenos_banner-titulo {
  top: 50rem;
}

.Formulario_contactenos {
  width: 5rem;
  padding: 30px;
  margin-top: 100px;
}

.Card__principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  margin-right: 2rem;
}

.Servicios__fondo {
  background: url(../Img/servicios.jpeg) fixed center/cover;
  height: 60rem;
  width: 250rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0rem;
}

.img-fluid {
  height: 200px;
}

.Fondo__Nosotros {
  background: url(../Img/equipos.jpg) fixed center/cover;
  height: 50rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Nosotros__Titulo {
  padding: 5rem;
  width: 10rem;
  height: 2rem;
  font-size: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  left: 20rem;
  top: -11.5rem;
}

.Nosotros__parrafo {
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0rem;
  position: relative;
  right: 11rem;
  top: 3rem;
}

.carousel-inner img {
  width: 100%;
  max-height: 950px;
}

.carousel-inner {
  height: 950px;
}

@media screen and (max-width: 780px) {
  .carousel-inner img {
    width: 100%;
    max-height: 500px;
  }
  .carousel-inner {
    height: 500px;
  }
}
@media screen and (max-width: 480px) {
  .carousel-inner img {
    max-height: 300px;
  }
  .carousel-inner {
    height: 300px;
  }
}