.contenedor-404{ 
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    img{
        width: 25%;
    }
    p{
        font-size: 3rem;
    }

}