.pie-pagina {
    background-color: #E7EBEE;
    width: 100%;
    background: color black;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie-pagina .grupo-1 .box figure img {
    width: 15rem;
    
}

.pie-pagina .grupo-1 .box .botondecontacto {
    color: black;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.Footerlistado{
    display: flex;
    flex-direction: column;
}

.red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color:#fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina.grupo-2 small{
    font-size: 13px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1 {
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

}


@media screen and (max-width:585px){

    .pie-pagina {
        width: 100%;
        margin: 0;
        
    }
    .pie-pagina .grupo-2 small{
        font-size: 10px;
        width: auto;
        margin: 0%;
    }
}
    

