.Contactenos__banner {
    background: url(../Img/Sala-espera.jpg) fixed center/cover;
    height: 50rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contactenos_banner-titulo {
    top: 50rem;
}

.Formulario_contactenos {
    width: 5rem;
    padding: 30px;
    margin-top: 100px;
}
