.accordion-button{
    font-family: 'Noto Sans', sans-serif;
    font-size: large;
}

.accordion-body{
    font-size: large;
}

.cardServicios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15rem;
}
.cardServicios .card{
    margin-left: 5rem;
    margin-right: 5rem;
}
.cardServicios .card img{
height: 25rem;
width: 25rem;
}

// .Servicios__fondo {
//     background: url(../img/serv.jpeg)fixed center/cover;
//     height: 60rem;
//     width: 250rem;
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 0rem;
// }

.img-fluid {
    height: 200px;
}