.Fondo__Nosotros {
    background: url(../Img/equipos.jpg) fixed center/cover;
    height: 50rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nosotros__Titulo {
    padding: 5rem;
    width: 10rem;
    height: 2rem;
    font-size: 8rem;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 20rem;
    top: -11.5rem;
}

.Nosotros__parrafo {
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    margin: 0rem;
    position: relative;
    right: 11rem;
    top: 3rem;
}

.carousel-inner img {
    width: 100%;
    max-height: 950px;
}

.carousel-inner {
    height: 950px;
}