.Contactenos__banner {
    background: url(../img/salaespera.jpg) fixed center/cover;
    height: 50rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Contactenos_banner-titulo {
    top: 50rem;
}

form-floating{
    flex-direction: column;
    justify-content: center;
}