@media (max-width: 767.98px){
    .carousel-inner img {
        width: 100%;
        max-height: 500px;
    }
    .carousel-inner {
        height: 500px;
    }
}
@media (max-width: 575.98px){
    .carousel-inner img {
        max-height: 300px;
    }
    .carousel-inner {
        height: 300px;
    }

}

@media (max-width: 575.98px){
    .pie-pagina{
        max-width: 480px;
        
        .box{
            flex-direction: column;
        }
    }
}



// // pequeños dispositivos
// @media (max-width: 575.98px)

// // tablets
// @media (max-width: 767.98px) 

// // desktop
// @media screen (max-width: 1399.98px)